<div class="detail-section">

    <div class="container-fluid">

        
        <img src="{{ product.imageUrl }}" class="detail-img">

        <h3>{{ product.name }}</h3>
        <div class="price">{{ product.unitPrice | currency:'BRL' }}</div>
        <button (click)="addToCart()" class="btn btn-primary btn-sm">Adicionar ao carrinho</button>

        <hr>
        <h4>Descrição</h4>
        <p>{{ product.description }}</p>

        <a routerLink="/products" class="mt-5">Voltar à lista de produtos</a>

    </div>

</div>

